[workspace]
members = ["workspace/apps/staking/contracts", "workspace/packages/contracts"]


[workspace.dependencies]
starknet = "2.11.0"
assert_macros = "2.11.0"
openzeppelin = "0.20.0"
openzeppelin_testing = "0.20.0"
snforge_std = "0.34.0"
snforge_scarb_plugin = "0.34.0"
starkware_utils = { path = "workspace/packages/contracts" }

[scripts]
test = "snforge test"

[profile.dev.cairo]
unstable-add-statements-code-locations-debug-info = true
unstable-add-statements-functions-debug-info = true
inlining-strategy = "avoid"

[[workspace.tool.snforge.fork]]
name = "MAINNET_LATEST"

url = "https://starknet-mainnet.public.blastapi.io/rpc/v0_7"

block_id.tag = "latest"
