repos:
  - repo: local
    hooks:
      - id: cairo-scarb-fmt
        name: check cairo code is formatted
        entry: scarb fmt --check
        language: system
        pass_filenames: false
        stages: [commit]
      - id: ensure-flow-struct-tests
        name: ensure flow structs have tests
        entry: scripts/check_all_flows_have_test.py --allow-duplicate-tests
        language: system
        pass_filenames: false
        stages: [commit]
