[package]
name = "staking"
version = "1.14.5"
edition = "2024_07"

[dependencies]
starknet = "2.12.0"
openzeppelin = "2.0.0"
starkware_utils = { git = "https://github.com/starkware-libs/starkware-starknet-utils", rev = "7b46975d5612fb1b920bb248941030bf6c295d44" }

[dev-dependencies]
assert_macros = "2.12.0"
snforge_std = "0.49.0"
starkware_utils_testing = { git = "https://github.com/starkware-libs/starkware-starknet-utils", rev = "7b46975d5612fb1b920bb248941030bf6c295d44" }

[scripts]
test = "snforge test"

[lib]

[[target.starknet-contract]]

[profile.dev.cairo]
unstable-add-statements-code-locations-debug-info = true
unstable-add-statements-functions-debug-info = true
inlining-strategy = "avoid"

[[tool.snforge.fork]]
name = "MAINNET_LATEST"

url = "https://starknet-mainnet.public.blastapi.io/rpc/v0_8"

block_id.tag = "latest"

[tool.scarb]
allow-prebuilt-plugins = ["snforge_std"]

[[test]]
name = "contracts_unittest"
build-external-contracts = ["starkware_utils::erc20::erc20_mocks::DualCaseERC20Mock"]

[tool.fmt]
sort-module-level-items = true

[features]
fork_test = []
