[workspace]
members = ["workspace/apps/staking/contracts"]

[workspace.dependencies]
starknet = "2.12.0"
assert_macros = "2.12.0"
openzeppelin = "2.0.0"
snforge_std = "0.49.0"
starkware_utils = { git = "https://github.com/starkware-libs/starkware-starknet-utils", rev = "28e05a744fba1311e0933dcc0c7d2bcb11b0e10f" }
starkware_utils_testing = { git = "https://github.com/starkware-libs/starkware-starknet-utils", rev = "28e05a744fba1311e0933dcc0c7d2bcb11b0e10f" }

[scripts]
test = "snforge test"

[profile.dev.cairo]
unstable-add-statements-code-locations-debug-info = true
unstable-add-statements-functions-debug-info = true
inlining-strategy = "avoid"

[[workspace.tool.snforge.fork]]
name = "MAINNET_LATEST"

url = "https://starknet-mainnet.public.blastapi.io/rpc/v0_8"

block_id.tag = "latest"

[workspace.tool.scarb]
allow-prebuilt-plugins = ["snforge_std"]
