[package]
name = "contracts"
version = "0.1.0"
edition = "2023_11"

# See more keys and their definitions at https://docs.swmansion.com/scarb/docs/reference/manifest.html

[dependencies]
starknet.workspace = true
openzeppelin.workspace = true
contracts_commons = { path = "../../../packages/contracts" }


[[target.starknet-contract]]
