name: Check Formatting

on:
  workflow_call:

jobs:
  check_formatting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: software-mansion/setup-scarb@v1
        with:
          scarb-version: "2.12.2"

      - name: Check formatting
        run: |
          scarb fmt -w --check
