name: Pull Request Integration

on:
  pull_request:
    branches:
      - main

  merge_group:
    branches:
      - main

jobs:
  test:
    uses: ./.github/workflows/test.yaml
    secrets: inherit

  check_formatting:
    uses: ./.github/workflows/check_formatting.yaml
