name: Pull Request Integration

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    uses: .github/workflows/test.yaml

  check_formatting:
    uses: .github/workflows/check_formatting.yaml
